<div class="forgotPasswordForm">
    <h4>Forgot Password</h4>
    <mat-horizontal-stepper linear>
        <!-- User verification form -->
        <mat-step label="User Verification" [completed]="isUserExists">
            <div>
                <form (ngSubmit)="verifyUser()" #userVerification="ngForm" [formGroup]="userVerificationForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>User Code</mat-label>
                        <input matInput type="text" formControlName="usercode" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="userVerificationForm.get('usercode').hasError('required')">
                            {{validationMessages.usercode.required}}
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
                </form>
            </div>
        </mat-step>

        <!-- OTP verification form -->
        <mat-step label="OTP Verification" [completed]="isOtpVerified">
            <div>
                <form (ngSubmit)="verifyOTP()" #otpVerification="ngForm" [formGroup]="otpVerificationForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>OTP</mat-label>
                        <input matInput type="text" formControlName="otp" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="otpVerificationForm.get('otp').hasError('required')">
                            {{validationMessages.otp.required}}
                        </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Validate OTP</button>
                </form>
            </div>
        </mat-step>

        <!-- New password form -->
        <mat-step label="Reset Password">
            <div>
                <form (ngSubmit)="forgotPassword()" #newPassword="ngForm" [formGroup]="resetPasswordForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="newPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                            {{validationMessages.newPassword.required}}
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">
                            {{validationMessages.newPassword.minlength}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                            {{validationMessages.confirmPassword.required}}
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="">
                        Password Mismatch
                    </div>
                    <button mat-raised-button color="primary" type="submit">Change Password</button>
                </form>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>