<div class="forgotPasswordForm">
    <h4>Forgot Password</h4>
    <mat-horizontal-stepper linear>
        <!-- User verification form -->
        <mat-step label="User Verification" [completed]="isUserExists">
            <div>
                <form (ngSubmit)="verifyUser()" #userVerification="ngForm" [formGroup]="userVerificationForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>User Code</mat-label>
                        <input matInput type="text" formControlName="usercode">
                    </mat-form-field>
                    <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
                </form>
            </div>
        </mat-step>

        <!-- OTP verification form -->
        <mat-step label="OTP Verification" [completed]="isOtpVerified">
            <div>
                <form (ngSubmit)="verifyOTP()" #otpVerification="ngForm" [formGroup]="otpVerificationForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>OTP</mat-label>
                        <input matInput type="text" formControlName="otp">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Validate OTP</button>
                </form>
            </div>
        </mat-step>

        <!-- New password form -->
        <mat-step label="Reset Password">
            <div>
                <form (ngSubmit)="forgotPassword()" #newPassword="ngForm" [formGroup]="resetPasswordForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="newPassword">
                    </mat-form-field>
                    <mat-form-field floatLabel="auto">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword">
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Change Password</button>
                </form>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>