<div class="forgotPasswordForm">
    <div class="close">
        <button mat-icon-button color="primary" (click)="router.navigate(['/user/login'])">
            <mat-icon aria-label="label">close</mat-icon>
        </button>
    </div>
    <h4>Forgot Password</h4>
    <mat-horizontal-stepper linear #stepper>
        <!-- User verification form -->
        <mat-step label="User Verification" [completed]="isUserExists" [editable]="!isUserExists">
            <div>
                <form (ngSubmit)="verifyUser()" [formGroup]="userVerificationForm">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>User Code</mat-label>
                        <input matInput type="text" formControlName="usercode" noWhiteSpace
                            [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="userVerificationForm.get('usercode').hasError('required')">
                            {{validationMessages.usercode.required}}
                        </mat-error>
                        <mat-error *ngIf="userVerificationForm.get('usercode').hasError('maxlength') && !userVerificationForm.get('usercode').hasError('pattern')">
                            {{validationMessages.usercode.maxlength}}
                        </mat-error>
                        <mat-error *ngIf="userVerificationForm.get('usercode').hasError('pattern')">
                            {{validationMessages.usercode.pattern}}
                          </mat-error>
                    </mat-form-field>
                    <div *ngIf="userInfo">
                        <mat-form-field floatLabel="always" appearance="outline" *ngFor="let column of userInfoColumns">
                            <mat-label> {{column | titlecase }}</mat-label>
                            <input matInput [value]="userInfo[column]" disabled>
                        </mat-form-field>
                    </div>
                    <button *ngIf="!isUserExists" mat-raised-button color="primary" type="submit" 
                    [disabled]="userVerificationForm.invalid">Verify Code</button>
                    <button *ngIf="isUserExists" mat-raised-button color="primary" type="button"
                        matStepperNext (click)="generateOTP()">Next</button>
                </form>
            </div>
        </mat-step>

        <!-- OTP verification form -->
        <mat-step label="OTP Verification" [completed]="isOtpVerified" [editable]="!isOtpVerified">
            <div>
                <form (ngSubmit)="verifyOTP()" [formGroup]="otpVerificationForm">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>OTP</mat-label>
                        <input matInput type="text" formControlName="otp" noWhiteSpace [errorStateMatcher]="matcher"
                            required>
                        <mat-error *ngIf="otpVerificationForm.get('otp').hasError('required')">
                            {{validationMessages.otp.required}}
                        </mat-error>
                        <mat-error *ngIf="otpVerificationForm.get('otp').hasError('maxlength') && !otpVerificationForm.get('otp').hasError('pattern')">
                            {{validationMessages.otp.maxlength}}
                        </mat-error>
                        <mat-error *ngIf="otpVerificationForm.get('otp').hasError('pattern')">
                            {{validationMessages.otp.pattern}}
                          </mat-error>
                    </mat-form-field>
                    <button *ngIf="!isOtpVerified" mat-raised-button color="primary" type="submit"
                        [disabled]="otpVerificationForm.invalid">Validate OTP</button>
                    <button *ngIf="isOtpVerified" mat-raised-button color="primary" type="button"
                        matStepperNext>Next</button>
                </form>
            </div>
        </mat-step>

        <!-- New password form -->
        <mat-step label="Reset Password">
            <div>
                <form (ngSubmit)="forgotPassword()" [formGroup]="resetPasswordForm">
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="newPassword" noWhiteSpace
                            [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                            {{validationMessages.newPassword.required}}
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">
                            {{validationMessages.newPassword.minlength}}
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('maxlength')">
                            {{validationMessages.newPassword.maxlength}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="always" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" noWhiteSpace
                            [errorStateMatcher]="matcher" required>
                        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                            {{validationMessages.confirmPassword.required}}
                        </mat-error>
                    </mat-form-field>
                    <mat-error *ngIf="resetPasswordForm.hasError('passwordMismatch') && 
                    resetPasswordForm.get('newPassword').dirty &&
                    resetPasswordForm.get('confirmPassword').dirty &&
                    !resetPasswordForm.get('confirmPassword').hasError('required')">
                        {{validationMessages.confirmPassword.passwordMismatch}}
                    </mat-error>
                    <button mat-raised-button color="primary" type="submit"
                        [disabled]="resetPasswordForm.invalid">Change Password</button>
                </form>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>