<div class="loginForm">
  <form (ngSubmit)="onLogin()" #loginForm1="ngForm" [formGroup]="loginForm">
    <mat-form-field floatLabel="auto">
      <mat-label>User Code</mat-label>
      <input matInput type="text" formControlName="usercode" noWhiteSpace [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="loginForm.get('usercode').hasError('required')">
        {{validationMessages.usercode.required}}
      </mat-error>
      <mat-error *ngIf="loginForm.get('usercode').hasError('maxlength')">
        {{validationMessages.usercode.maxlength}}
      </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="auto">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" noWhiteSpace [errorStateMatcher]="matcher" required>
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        {{validationMessages.password.required}}
      </mat-error>
      <mat-error *ngIf="loginForm.get('password').hasError('maxlength')">
        {{validationMessages.password.maxlength}}
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>
  <a [routerLink]="['/user/forgot-password']" routerLinkActive="">Forgot Password</a>
</div>