.loginForm {
    padding: 10px;
    // display: flex;
    // justify-content: center;
    border: solid 2px grey;
    background-color: rgb(198, 246, 198);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}