.align_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.setDiv {
    padding-bottom: 20px;
    min-width: 170px;
    max-width: 300px;
}

.paddingbottomlabel {
    padding-bottom: 20px;
}