.align_items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.setDiv {
    padding-bottom: 20px;
    min-width: 170px;
    max-width: 300px;
}

.paddingbottomlabel {
    padding-bottom: 20px;
}

.select-class {
    border: solid;
    border-width: 1px;
    border-color: grey;
}

.field-style {
    margin-bottom: 15px;
}