<div class="changePasswordForm">
    <h4>Change Password</h4>
    <mat-horizontal-stepper linear>
        <!-- Current password form -->
        <mat-step label="Current Password" [completed]="isUserExists">
            <div>
                <form (ngSubmit)="verifyUser()" #currentPassword="ngForm" [formGroup]="currentPasswordForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>User Code</mat-label>
                        <input matInput type="text" formControlName="usercode" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="currentPasswordForm.get('usercode').hasError('required')">
                            {{validationMessages.usercode.required}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field floatLabel="auto">
                        <mat-label>Current Password</mat-label>
                        <input matInput type="password" formControlName="currentPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="currentPasswordForm.get('currentPassword').hasError('required')">
                            {{validationMessages.currentPassword.required}}
                        </mat-error>
                      </mat-form-field>
                <button mat-raised-button color="primary" matStepperNext type="submit">Next</button>
            </form>
            </div>
        </mat-step>

        <!-- New password form -->
        <mat-step label="Reset Password">
            <div>
                <form (ngSubmit)="changePassword()" #newPassword="ngForm" [formGroup]="resetPasswordForm">
                    <mat-form-field floatLabel="auto">
                        <mat-label>New Password</mat-label>
                        <input matInput type="password" formControlName="newPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('required')">
                            {{validationMessages.newPassword.required}}
                        </mat-error>
                        <mat-error *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')">
                            {{validationMessages.newPassword.minlength}}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field floatLabel="auto">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="resetPasswordForm.get('confirmPassword').hasError('required')">
                            {{validationMessages.confirmPassword.required}}
                        </mat-error>
                      </mat-form-field>
                      <button mat-raised-button color="primary" type="submit">Change Password</button>
                </form>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>