<h1 mat-dialog-title>Map Publication</h1>
<div mat-dialog-content>
    <div class="setDiv">
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Map To :</mat-label>
            <mat-select class="" [(ngModel)]="selectedPublication">
                <mat-option *ngFor="let selectedPublication of publication.permanentPublicationList" [value]="selectedPublication">
                    {{ selectedPublication.publication_name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="footer">
    <div>
        <button mat-button class="saveButton" type="submit" (click)="save()">Save</button>
        <button mat-button class="cancelButton" (click)="onCloseDialog(false)">Cancel</button>
    </div>
</div>