table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.Plus_button {
    float: right;
    margin: 10px;
}

button {
    width: 100px;
    color: white;
}

.publication-master {
    display: flex;
    justify-content: space-between;
    .add {
        width: 48px;
        background: none;
        color: black;
        border-radius: 5px;
        height: 56px;
        border: 1px solid gray;
    }
}

.no-data {
    display: flex;
    justify-content: center;
}