table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.Plus_button {
    float: right;
    margin: 10px;
}

button {
    width: 100px;
    color: white;
}

.publication-master {
    display: flex;
    justify-content: space-between;
    
    mat-icon{ font-size: 45px;
        width: 41px;
        color: #1976D2;
    }

    mat-icon:hover{ font-size: 45px;
        width: 41px;
        color: rgb(16, 81, 146);
    }


}

.no-data {
    display: flex;
    justify-content: center;
}