<div class="publication-master">
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search here">
        </mat-form-field>
    </div>
    <div>
        <mat-icon (click)="openDialog(null)">add_box</mat-icon>
    </div>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <caption>Publication List</caption><br>
        <!-- publication_name Column -->
        <ng-container matColumnDef="publication_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="publication_name"> Publication Name </th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.publication_name}} </td>
        </ng-container>

        <!-- publication_code Column -->
        <ng-container matColumnDef="publication_code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="publication_code"> Publication Code </th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.publication_code}} </td>
        </ng-container>

        <!-- publisher_name Column -->
        <ng-container matColumnDef="publisher_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="publisher_name"> Publisher Name </th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.publisher_name}} </td>
        </ng-container>

        <!-- publication_type Column -->
        <ng-container matColumnDef="publication_type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="publication_type"> Type </th>
            <td mat-cell *matCellDef="let row" (click)="openDialog(row)"> {{row.publication_type == 'T'?'Temporary':'Permanent'}} </td>
        </ng-container>

        <!-- Activate/Deactivate Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sype"> Status </th>
            <td mat-cell *matCellDef="let row" (click)="confirmDialog(row.pki_publication_id,row.status)" style="text-align:center;">
                <button mat-raised-button [ngStyle]="{'backgroundColor': row.status == 'A' ? '#0B8744' : '#D62D20' }">
                    {{row.status == 'A'?'Active':'Inactive'}}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    <div class="no-data" *ngIf="!publicationList || publicationList.length < 1">
        No data.
    </div>

</div>