    <!-- <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef>Agent Code</mat-header-cell>
    <mat-cell *matCellDef="let agent">{{agent.code}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Agent Name</mat-header-cell>
    <mat-cell *matCellDef="let agent">{{agent.name}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="place">
    <mat-header-cell *matHeaderCellDef>Place</mat-header-cell>
    <mat-cell *matCellDef="let agent">{{agent.place}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="mobile">
    <mat-header-cell *matHeaderCellDef>Mobile Number</mat-header-cell>
    <mat-cell *matCellDef="let agent">{{agent.mobile}}</mat-cell>
    </ng-container> -->





<!-- <div>
    <h4>Please select a user type</h4>
    <mat-form-field>
        <mat-label>User type </mat-label>
        <mat-select>
            <mat-option *ngFor="let userType of userTypes" [value]="userType" (select)="onSelectUserType()">
                {{userType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div> -->