<!-- Action bar -->
<div class="action-bar">
    <!-- Search bar -->
    <form (ngSubmit)="onSubmit()" [formGroup]="headerForm">
        <mat-form-field class="padding-right">
            <input matInput type="text" placeholder="Search here" formControlName="search"
                (keyup)="search($event.target.value)">
        </mat-form-field>
        <mat-form-field>
            <mat-select #rolesDropDown [value]="0" formControlName="roles"
                (selectionChange)="onSelectRole($event.value)">
                <mat-option [value]="0">All</mat-option>
                <mat-option *ngFor="let role of roles" [value]="role['pki_role_id']">
                    {{RoleMapper[role['pki_role_id']]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <!-- "Add" icon to set role for new employee -->
    <mat-icon aria-label="add" (click)="openDialog()" color="primary">add_box</mat-icon>
</div>

<!-- Employee table -->
<div class="emp-caption">Employee List</div>
<mat-table class="mat-elevation-z8" [dataSource]="filteredEmployees" matSort>
    <ng-container [matColumnDef]="column" *ngFor="let column of columns;let i = index">
        <mat-header-cell *matHeaderCellDef>
            <div mat-sort-header>{{displayColumns[i]}}</div>
        </mat-header-cell>
        <mat-cell *matCellDef="let employee">
            <span *ngIf="column ==='pki_user_code'">{{employee[column]}}</span>
            <span *ngIf="column ==='role_id'">{{RoleMapper[employee[column]]}}</span>
            <button *ngIf="column ==='status'" mat-raised-button
                [ngStyle]="{'backgroundColor': employee[column] === 'A' ? '#0B8744' : '#F44336' }"
                (click)="toggleActivation(employee['pki_user_code'], employee[column])">
                {{statusMapper[employee[column]]}}
            </button>
            <div class="edit-col" *ngIf="column === 'action'">
                <mat-icon (click)="openDialog(employee)" class="edit-icon" aria-label="edit">edit</mat-icon>
            </div>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>

<!-- Pagination -->
<mat-paginator [length]="pageLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>

<!-- Data is not available -->
<div *ngIf="!filteredEmployees">
    <h4>No data available!</h4>
</div>