button{
    width:100px;
    color:white;
}

div.emp-caption{
    background: #1976D2;
    color: white;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}


