/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alignCenter {
    text-align: center;
}

.saveButton {
    background-color: #1976D2;
    color: white !important;
    border:1px solid#1976D2 !important;
}

.cancelButton {
    background-color: #FEFEFE;
    color: #1976D2 !important;
    border:1px solid#1976D2 !important;
}

.cancelButton:hover, .saveButton:hover {
    background-color: #0c2c4c;
    color: white !important;
}

.deleteButton {
    background-color: #E63D39;
    color: white !important;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.mat-select-overide{
    border: 1px solid #80808038;
    border-radius: 5px;
    padding: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px !important;
}

.mat-input-element:disabled {
    color: #333 !important;
}

caption{
    background: #1976D2;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
}