/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.alignCenter {
    text-align: center;
}

.saveButton {
    background-color: #1976D2;
    color: white !important;
}

.cancelButton {
    background-color: #FC9A15;
    color: white !important;
}

.deleteButton {
    background-color: #E63D39;
    color: white !important;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.mat-select-overide{
    border: 1px solid #80808038;
    border-radius: 5px;
    padding: 5px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px !important;
}